mm-indicator {
  &:not(.env).transparent {
    .indicator {
      background: transparent;
      border: 1px solid #a0aab5;
    }
  }

  .indicator {
    padding: 0 15px;
  }

  &.text--warning {
    .indicator {
      color: #f93;
    }
  }

  &.grey_750 {
    .indicator {
      background-color: #73757b;
    }
  }

  &.small-indicator {
    height: 14px;
    width: 14px;
    min-width: 14px;
    min-height: 14px;
    .fa.fa-check {
      font-size: 10px;
    }
  }
}
