extends ../../../layout/main
include ../../../components/external-link.pug


block variables
  - var scripts = ["../../../assets/js/pages/alta_informe_documentacion.js"]
  - var HIDE_SIDEPANEL = true
  - var breadcrumbsItems = [['Dashboard'], ['Filtro de servicios'], ['1103265-2021/1']]
  - var title = 'Peritos Hogar'
  -
    const DIRECT_ACCESS = [
      {
        name: "Tower",
        description: "Esto es una breve descripción del acceso directo",
        href: "../wip/wip.html",
        src: "tower_logo.png"
      },
      {
        name: "Salesforce",
        description: "Esto es una breve descripción del acceso directo",
        href: "../wip/wip.html",
        src: "salesforce_logo.svg"
      },
      {
        name: "SAR",
        description: "Esto es una breve descripción del acceso directo",
        href: "../wip/wip.html",
        src: "sar_logo.svg"
      },
      {
        name: "SRV",
        description: "Accede de una forma rápida al Sistema de Retribución Variable",
        href: "../wip/wip.html",
        src: "srv_logo.svg"
      },
      {
        name: "Allfunds",
        description: "Esto es una breve descripción del acceso directo",
        href: "../wip/wip.html",
        src: "allfunds_logo.svg"
      }
    ]

    var comboBoxOptions = [
      {
        col: 0,
        label:'Tipo de servicio',
        filter: 'operation',
        options: [
          {name:'Comismar'}
        ]
      },
      {
        col: 1,
        label :'Nº de siniestro',
        filter: 'nro_siniestro',
        text: true
      },
      {
        col: 2,
        label :'Año del siniestro',
        filter: 'date_siniestro',
        date: true
      },
      {
        col: 3,
        label :'Nº de póliza',
        placeholder :'Escribir nº de póliza',
        filter: 'nro_poliza',
        text: true
      },
      {
        col: 4,
        label :'Ref. Externa',
        placeholder :'Escribir referencia externa',
        filter: 'nro_externa',
        text: true
      },
      {
        col: 5,
        label:'Situación',
        filter: 'situacion',
        options: [
          {name:'En curso'}
        ]
      },
    ]

    const THEADER_ROW_AJUSTES_DAÑOS = [
      'tipo',
      'Garantía',
      'Gremio',
      'Partida',
      'precio',
      'DIR.',
      'EST',
      {name: 'V.NUEVO:', status: "none"},
      {name: 'DEPREC:', status: "none"},
      {name: 'V.REAL:', status: "none"},
      {name: 'PROPUESTA:', status: "none"}
    ]

    const TBODY_ROWS_AJUSTES_DAÑOS = [
      [
        'Reparación',
        'Vivienda',
        'Fontanero',
        'Localización sin cala',
        '25,62€',
        '1,00',
        '0,00',
        '25,62€',
        '25,62€',
        '25,62€',
        '25,62€'
      ],
      [
        'Reparación',
        'Vivienda',
        'Fontanero',
        'Localización sin cala',
        '25,62€',
        '1,00',
        '0,00',
        '25,62€',
        '25,62€',
        '25,62€',
        '25,62€'
      ],
      [
        'Reparación',
        'Vivienda',
        'Fontanero',
        'Localización sin cala',
        '25,62€',
        '1,00',
        '0,00',
        '25,62€',
        '25,62€',
        '25,62€',
        '25,62€'
      ],
      [
        'Reparación',
        'Vivienda',
        'Fontanero',
        'Localización sin cala',
        '25,62€',
        '1,00',
        '0,00',
        '25,62€',
        '25,62€',
        '25,62€',
        '25,62€'
      ],
      [
        'Reparación',
        'Vivienda',
        'Fontanero',
        'Localización sin cala',
        '25,62€',
        '1,00',
        '0,00',
        '25,62€',
        '25,62€',
        '25,62€',
        '25,62€'
      ]
    ]

    const THEADER_ROW_CONCURRENCIA = [
      'Compañia',
      'Capital',
      'Coef. participación',
      'Capital Participación',
      'PORCENTAJE',
      'RESULTADOS.'
    ]

    const TBODY_ROWS_CONCURRENCIA = [
      [
        'Demo Madrileña',
        '150.000,00€',
        '100%',
        '150.000,00€',
        '62,50%',
        '825,56€'
      ],
      [
        'Demo Madrileña',
        '150.000,00€',
        '100%',
        '150.000,00€',
        '62,50%',
        '825,56€'
      ]
    ]


block content
  #content-page-sidebar.display-f.flex--column.flex--row-lg
    #content-page.w100.pos-relative
      .content-icon-expanded
        i.btn-expanded(href='#' onclick='expandPage(event)')
          img(src='../../../assets/img/icon_expand.svg' alt='layout-nav-logo' width='15' height='10')
        mm-tooltip.mm-tooltip-expanded.dark.w-fitContent(position="left") 
          span.expanded Cerrar
          span.not-expanded Abrir
          |  columna de resumen
      .row
        .col-12
          main.pl-m.pr-m.display-f.flex--column
            .row.py-xs
              .col-12
                .display-f.flex--justify-between
                  .display-f.flex--align-center
                    h1.mb-n.mr-xs COMISMAR 1103265 - 2021/1
                    mm-indicator.mr-xs Finalizado
            .row.mb-m
              .col-12 
                mm-progress-indicator(current-step='5')
                  .mmpi-content DESCRIPCIÓN RIESGO
                  i.fas.fa-home.mmpi-icon( slot='step-1' style='font-size: 30px;')
                  .mmpi-content CAUSAS Y ATRIBUTOS
                  i.fas.fa-file-alt.mmpi-icon( slot='step-2' style='font-size: 30px;')
                  .mmpi-content TERCEROS IMPLICADOS
                  i.fas.fa-users.mmpi-icon(slot='step-3' style='font-size: 30px;')
                  .mmpi-content TASACIÓN Y AJUSTE DE DAÑOS
                  i.fas.fa-file-invoice-dollar.mmpi-icon(slot='step-4' style='font-size: 30px;')
                  .mmpi-content DOCUMENTACIÓN
                  i.fas.fa-download.mmpi-icon(slot='step-5' style='font-size: 30px;')
            .row.mb-m 
              .col-12
                .subheading--modo-consultivo
                  i.fas.fa-download
                  h3 Subir documentos
                .b-block
                  .row 
                    .col-12
                      small.title Subir imagen, video u otros documentos
                    .col-12 
                      .row.row-uploader
                        mm-uploader.uploaderDocumentacion.draggable.col-5(id='uploaderButtonDocumentacion' draggable-upload='' label="Los archivos que añadas se mostrarán en un listado en el podrás ver el progreso de la subida." uploader-title='Subir documentación')
                        .col-7 
                          .row.row-content-uploader-documentacion.display-n 
                            .col-4 
                              label.mandatory.pos-relative
                                span Tipo de documento
                            .col-4 
                              label.mandatory.pos-relative 
                                span Descripción
                            
                          section#uploaderFields.row.f-grow-1.mb-s.mt-xs
                  .row 
                    .col-12.display-f.flex--justify-end
                      a.underline.ml-s( href="documentacion_galeria.html")
                        mm-button(label="Guardar archivos" type="secondary")

            .button-action-sticky.row.display-f.flex--justify-between.mt-m 
              .action-1
                mm-button.mr-xs( label="Cancelar" type="support")
              .action-2.display-f
                a#buttonModoConsultivoPrev(href="tasacion_ajustes.html")
                  mm-button.mr-xs( label="anterior" type="secondary")
                mm-button.mr-xs( label="Descargar informe PDF" type="secondary")
                mm-button#finishButton.mr-xs( label="Cerrar" type="primary")
    mm-responsive-layout-lateral-menu.grey.modo-consultivo
      i.fas.fa-times.close-icon(onclick='expandPage(event)')
      .b-block
        h4.blue.no-line Detalle del siniestro
        .row 
          .col-6 
            small Número del siniestro
            p 1103265 - 2021/1
        
          .col-6 
            small Número del siniestro
            p 1103265 - 2021/1
        .row 
          .col-6 
            small Dirección riesgo
            p Juan de la Cierva, 1, 7º-13
        
          .col-6 
            small Fecha/hora Efecto
            p 20/05/2018 - 09:40h
        .row 
          .col-6 
            small Estado
            mm-indicator.mr-xs Finalizado
        
          .col-6 
            small Fecha/hora Ocurrencia
            p 20/05/2018 - 09:40h
        .row 
          .col-6 
            small Proveedor
            a(id="proveedorLightbox")
              i.fas.fa-user-tie.mr-xxs
              | IPAS
        
          .col-6 
            small Fecha/hora Declaración
            p 20/05/2018 - 09:40h
        .row 
          .col-6 
            small Tipo 
            p Indemnizable
        
          .col-6 
            small Fecha/hora Vencimiento
            p 20/05/2018 - 09:40h
      .b-block
        .sidebar-subheading--modo-consultivo
          i.fas.fa-file-alt 
          h3 Resumen
        .row 
          .col-12 
            mm-accordion.sidebar--modo-consultivo(header='datos generales' reduced='')
              .row.mb-xs 
                .col-6 
                  small Producto 
                  p 
                    a(href="#") A todo riesgo PLUS
              
                .col-6 
                  small Tipo de siniestro
                  p 1103265 - 2021/1
              .row.mb-xs 
                .col-6 
                  small Superficie construída
                  p 112 m2
              
                .col-6 
                  small Nº Trasteros/Garajes
                  p 3
              .row.mb-xs 
                .col-6 
                  small Tipo/Subtipo vivienda
                  p Piso
              
                .col-6 
                  small Superficie terraza
                  p 100 m2
              .row.mb-xs 
                .col-6 
                  small Año construcción
                  p 2004
              
                .col-6 
                  small Año última reforma
                  p 2004
              .row.mb-xs 
                .col-6 
                  small Superficie parcela s/c
                  p 0
              
                .col-6 
                  small Habitantes
                  p 4
              .row.mb-xs 
                .col-12 
                  small Protecciones
                  p Protección 1, Protección 2, Protección 3,...
              .row.mb-xs 
                .col-12  
                  small Atributos
                  p VTS, Corrosión, Infraseguro, Judicial
            mm-accordion.sidebar--modo-consultivo(header='descripción del riesgo' reduced='')
              .row.mb-xs 
                .col-12 
                  small Capital continente adecudo a preexistencias
                  p Sí, (Existencias verificadas)
              .row.mb-xs 
                .col-12 
                  small Capital contenido adecudo a preexistencias
                  p No, (Razón Cdo)
              .row.mb-xs 
                .col-12 
                  small Estado de conservación
                  p Requiere mantenimiento
              .row.mb-xs 
                .col-12 
                  small Infraseguro
                  p No
              .row.mb-xs
                .col-6 
                  small Tasación mobiliario
                  p Tasación mobiliario 
                .col-6 
                  small.number Valor asegur. MOBiliario
                  p.number 47.568,13€
              .row.mb-xs 
                .col-6 
                  small Tasación vivienda
                  p Tasación vivienda
                .col-6 
                  small.number Valor asegur. VVAA
                  p.number 155.756,36€
            mm-accordion.sidebar--modo-consultivo(header='Causas y atributos' reduced='')
              .row.mb-xs 
                .col-12 
                  small Asegurado conforme
                  p Sí
              .row.mb-xs 
                .col-6 
                  small Tiene cobertura
                  p Sí
                .col-6 
                  small Es recobrable
                  p No
              .row.mb-xs 
                .col-6 
                  small daños consorciables
                  p No
                .col-6 
                  small Datos consorciables
                  p Parcial
              .row.mb-xs 
                .col-12 
                  small Estimación daños consorciables
                  p Estimación daños
              .row.mb-xs 
                .col-6 
                  small Posible fraude
                  p No
                .col-6 
                  small Corrosión
                  p No
              .row.mb-xs 
                .col-12 
                  small Concurrencia
                  p No
              .row.mb-xs 
                .col-12 
                  small Visualizar informe reparador
                  p No
            mm-accordion.sidebar--modo-consultivo(header='terceros implicados' reduced='' )
              .row.mb-xs 
                .col-12 
                  small Últimos terceros implicados añadidos
                  p.my-xxs Perjudicado - Mari Camen Martínez
                  p.my-xxs Afectado - Ana Noemí Fernández Martínez
                  p.my-xxs Causante - Jose María Fernández Iglesias
            mm-accordion.sidebar--modo-consultivo(header='Tasación y ajustes de daño' reduced='' active)
              .row.mb-xs 
                .col-6 
                  small Valor total nuevo
                  p 102,48€
                .col-6 
                  small Valor total real
                  p 102,48€
              .row.mb-xs 
                .col-6 
                  small Propuesta total
                  p 102,48€
