mixin links(scripts, title, mode="development")
  if mode === "development"
    - var link   = 'http://localhost:3333/GuiaAplicaciones/3.1.8-beta1'
  else
    - var link = 'http://localhost:3333/GuiaAplicaciones/3.1.8-beta1'

  meta(charset='utf-8')
  title #{title}
  meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0')
  meta(name='description' content='Aplicación demo 1.5')
  meta(name='theme-color' content='#16161d')
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(http-equiv='x-ua-compatible' content='IE=Edge')

  link(rel='apple-touch-icon' href=`../../../assets/icon/icon.png`)

  // Libreria JS y estilos Guia MM
  link(rel="icon" type="image/png" href=`../../../assets/favicons/favicon.svg`)
  link(rel='preload stylesheet' as='style' href=`../../../assets/build/demo-components-guide.css`)
  link(rel='preload stylesheet' as='style' href=`../../../assets/fontawesome/fontawesome-all.css`)
  link(rel='preload stylesheet' as='style' href='../../../assets/css/main.css')
  link(rel='preload stylesheet' as='style' href='https://unpkg.com/swiper/swiper.min.css')

  //Guia
  script(type="module" src=`../../../assets/build/demo-components-guide.esm.js`)
  script(nomodule src=`../../../assets/build/demo-components-guide.js`)


  script(src=`../../../assets/plugins/jquery-3.6.0.min.js` async)
  script(src=`../../../assets/plugins/datatables/datatables.min.js` defer)
  script(src='https://cdn.jsdelivr.net/npm/chart.js')

  script(src='../../../assets/js/pages/index.js' async)

  if (scripts !== undefined)
    each item in scripts
      script(src=item async)
